@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar&display=swap");
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: black;
	color: white;
}

.container {
	width: 100%;
	max-width: 1146px;
	margin: 0 auto;
}

.logo {
	height: 69px;
	width: auto;
}
.header {
	background: rgba(255, 255, 255, 0.11) !important;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
	backdrop-filter: blur(14px);
	-webkit-backdrop-filter: blur(8.4px);
	width: 100%;
}

.header-btn {
	justify-content: end;
}

.banner {
	margin-top: 100px;
}
.banner-content {
	color: white;
	float: left;
	width: 70%;
	padding: 70px 10px 70px 10px;
	text-align: center;
	margin-top: 50px;
}

.content-one {
	background: linear-gradient(
		90deg,
		rgba(19, 7, 71, 1) 27%,
		rgba(117, 38, 87, 1) 52%,
		rgba(19, 7, 71, 1) 81%
	);
}
.banner-image img {
	width: 260px;
	/* height: 260px; */
}

.box {
	text-align: center;
	position: relative;
	background: #060c21;
	padding: 10px;
	/* float: right; */
	display: inline-block;
	margin-top: 50px;
	width: 30%;
}
.box:before {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -1;
}
.box:after {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -2;
	filter: blur(40px);
}

.box:nth-child(2):before,
.box:nth-child(2):after {
	background: linear-gradient(235deg, #772aff, #010615, #2196f3);
}

/* ------------------------Animation------------------------------ */
.type-wrap {
	font-family: "Kdam Thmor Pro", sans-serif;
	font-weight: 400;
	letter-spacing: 0.3rem;
	color: white;
	text-decoration: none;
	text-align: center;
}
/* ------------------------------------------------------ */
@media screen and (max-width: 1199px) {
	.container {
		width: 962px;
	}
}

@media screen and (max-width: 991px) {
	.container {
		width: 740px;
	}
	.banner {
		margin-top: 100px;
	}
	.banner-content {
		color: white;
		width: 70%;
		padding: 10px;
		text-align: center;
		/* float: left; */
	}

	.banner-image {
		text-align: center;
		width: 30%;
		align-items: center;
	}
	.banner-image img {
		text-align: center;
		width: 200px;
	}
	.box {
		/* float: right; */
		margin-top: 20px;
	}
}

@media screen and (max-width: 767px) {
	.container {
		width: 570px;
	}
	.banner-content {
		color: white;
		width: 100%;
		padding: 10px;
		text-align: center;
		float: none;
	}
	.banner-image {
		text-align: center;
		margin: auto;
	}
	.banner-image img {
		text-align: center;
	}
	.box {
		float: none;
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.container {
		width: 424px;
	}
	.banner-image {
		width: 100%;
	}
}
@media screen and (max-width: 474px) {
	.container {
		width: 350px;
	}
	.banner-content {
		width: 100%;
	}
	.content-one {
		background: none;
	}
}
