@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: black;
	color: white;
}

.container {
	width: 100%;
	max-width: 1146px;
	margin: 0 auto;
}

.logo {
	height: 69px;
	width: auto;
}
.header {
	background: rgba(255, 255, 255, 0.11) !important;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
	backdrop-filter: blur(14px);
	-webkit-backdrop-filter: blur(8.4px);
	width: 100%;
}

.header-btn {
	justify-content: end;
}

.banner {
	margin-top: 150px;
	margin-bottom: 50px;
}
.banner-content {
	color: white;
	float: left;
	width: 70%;
	padding: 70px 10px 70px 10px;
	text-align: center;
	margin-top: 50px;
}

.content-one {
	background: linear-gradient(
		90deg,
		rgba(19, 7, 71, 1) 27%,
		rgba(117, 38, 87, 1) 52%,
		rgba(19, 7, 71, 1) 81%
	);
}
.banner-image img {
	width: 260px;
}

.box {
	text-align: center;
	position: relative;
	background: #060c21;
	padding: 10px;
	/* float: right; */
	display: inline-block;
	margin-top: 50px;
	width: 30%;
}
.box:before {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -1;
}
.box:after {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -2;
	filter: blur(40px);
}

.box:nth-child(2):before,
.box:nth-child(2):after {
	background: linear-gradient(235deg, #772aff, #010615, #2196f3);
}

/* ------------------------Animation------------------------------ */
.type-wrap {
	font-family: "Kdam Thmor Pro", sans-serif;
	font-weight: 400;
	letter-spacing: 0.3rem;
	color: white;
	text-decoration: none;
	text-align: center;
}
/* ------------------------------------------------------ */
.section-two {
	margin: 150px 10px 10px 10px;
}
.about-heading {
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
}
.title-section {
	margin: 0 auto;
	width: 100%;
	position: relative;
	padding: 80px 0;
}
.title-section h1 span {
	color: #2196f3;
}
.title-bg {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	letter-spacing: 10px;
	line-height: 0.7;
	font-size: 110px;
	font-weight: 800;
	color: hsla(0, 0%, 100%, 0.07);
	text-transform: uppercase;
	transform: translateY(-50%);
}
table {
	font-family: "Poppins", sans-serif;
	border-collapse: collapse;
	/* float: left; */
	width: 50%;
	/* border-style: hidden; */
}

td,
th {
	border: 1px solid #fff;
	text-align: left;
	padding: 8px;
}

table,
tr,
td {
	padding: 10px;
	border: none;
}
table tr td h3 {
	font-size: 26px;
}
.about-table {
	float: left;
}
.cards {
	clear: both;
	width: 50%;
}
@media screen and (max-width: 1199px) {
	.container {
		width: 962px;
	}
}

@media screen and (max-width: 991px) {
	.container {
		width: 740px;
	}
	.banner {
		margin-top: 100px;
	}
	.banner-content {
		color: white;
		width: 70%;
		padding: 10px;
		text-align: center;
		/* float: left; */
	}

	.banner-image {
		text-align: center;
		width: 30%;
		align-items: center;
	}
	.banner-image img {
		text-align: center;
		width: 200px;
	}
	.box {
		/* float: right; */
		margin-top: 20px;
	}
}

@media screen and (max-width: 767px) {
	.container {
		width: 570px;
	}
	.banner-content {
		color: white;
		width: 100%;
		padding: 10px;
		text-align: center;
		float: none;
	}
	.banner-image {
		text-align: center;
		margin: auto;
	}
	.banner-image img {
		text-align: center;
	}
	.box {
		float: none;
		width: 100%;
	}
	.section-two {
		margin: 10px 10px 10px 10px;
	}
}

@media screen and (max-width: 600px) {
	.container {
		width: 424px;
	}
	.banner-image {
		width: 100%;
	}
	.section-two {
		margin: 10px 10px 10px 10px;
	}
	.about-heading h1 {
		text-align: left;
	}
	.title-bg {
		display: none;
	}
}
@media screen and (max-width: 474px) {
	.container {
		width: 350px;
	}
	.banner-content {
		width: 100%;
	}
	.content-one {
		background: none;
	}
}
